@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.container-xxl {
  font-family: 'Comic Neue', sans-serif;
}
#TD, #FL {
  font-size: 2rem;
  font-weight: 700;
}

.table-container {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;
}

.table {
  min-width: 700px;
  table-layout: fixed;
}

.table thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.table thead th:nth-child(1) {
  width: 10%;
}

.table thead th:nth-child(2) {
  width: 60%;
}

.table thead th:nth-child(3) {
  width: 10%;
}

.table thead th:nth-child(4) {
  width: 10%;
}

.table thead th:nth-child(5) {
  width: 10%;
}

@keyframes borderHighlight {
  0% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid transparent;
  }
}

.table-container table tbody tr.highlight {
  animation: borderHighlight 1s ease-in-out;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
