.table-container {
  max-height: 600px; /* Adjust as needed */
  overflow-y: auto;
}


.table {
  min-width: 700px;
  table-layout: fixed;
}

.table thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.table thead th:nth-child(1) {
  width: 10%;
}

.table thead th:nth-child(2) {
  width: 60%;
}

.table thead th:nth-child(3) {
  width: 10%;
}

.table thead th:nth-child(4) {
  width: 10%;
}

.table thead th:nth-child(5) {
  width: 10%;
}

@keyframes borderHighlight {
  0% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid transparent;
  }
}

.table-container table tbody tr.highlight {
  animation: borderHighlight 1s ease-in-out;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
