@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
  background-color: #EECC8D;
  font-family: 'Neucha', sans-serif;
}

.bold {
  font-weight: 600;
}
.bordered {
  border: 2px solid black;
}

.frustration-container {
  font-size: 1.8em;
  background-color: white; 
}

.frustration-devider {
  border-bottom: 2px solid black;
  margin: 0px;
  padding: 0px;
}

.frustration-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.frustration-padding {
  padding-left: 10px;
}

.frustration-flex {
  flex: 0 0 300px
}

.task-list-container {
  max-height: 500px;
  overflow-y: auto;
  min-width: 450px;
}

.task-list-table {
  table-layout: fixed;
  margin: 0px;
}

.task-list-table thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  text-align: center;
  box-shadow: inset 0 -2px 0 #000;
}

.table thead th:nth-child(1) {
  width: 40px;
}
.table thead th:nth-child(2) {
  width: auto;
}
.table thead th:nth-child(3) {
  width: 70px;
}
.table thead th:nth-child(4) {
  width: 100px;
}
.table thead th:nth-child(5) {
  width: 100px;
}

@keyframes borderHighlight {
  0% {
    border: 2px solid red;
  }
  100% {
    border: 2px solid transparent;
  }
}

.task-list-table tbody tr.highlight {
  animation: borderHighlight 1s ease-in-out;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
